<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>


<body style="font-family: cursive;  ">

  <div style="height: 15%; width: 100%; font-size: 5%;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/principal">Clínica Médica</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <div class="espacio2"></div>
              <a class="nav-link active" aria-current="page"> <button type="button" class="btn btn-light"> <a
                    class="nav-link" href="/registro">Registro</a></button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <button type="button" class="btn btn-light">
                  <a class="nav-link">Reportes</a>
                </button>

              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
  <router-outlet></router-outlet>
</body>

</html>