<p>reportes works!</p>
<table class="tabla2">
    <tr>
        <td [width]="450">

            <div>

                <canvas baseChart class="chart" [data]="pieChartData" [type]="pieChartType">
                </canvas>


            </div>

        </td>
        <td [width]="450">
            <div>

                <canvas baseChart class="chart" [data]="pieChartData" [type]="pieChartType">
                </canvas>


            </div>

        </td>
        <td [width]="450">
            <div>

                <canvas baseChart class="chart" [data]="pieChartData" [type]="pieChartType">
                </canvas>


            </div>

        </td>
    </tr>

</table>